.card {
  --title-color: #718ebf;
  --text-color: #343c6a;
  .title {
    color: var(--title-color);
  }
  .value {
    color: var(--text-color);
  }
  .cardBottom {
    border-top: 1px solid #dfeaf2;
  }
  &.dark {
    --title-color: white;
    --text-color: white;

    background: rgb(76, 75, 86);
    background: linear-gradient(
      124deg,
      rgba(76, 75, 86, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );

    .cardBottom {
      border: 0px;
      background: rgb(25, 24, 24);
      background: linear-gradient(
        194deg,
        rgba(25, 24, 24, 1) 0%,
        rgba(55, 55, 55, 1) 100%
      );
    }
  }
}
