@tailwind base;
@tailwind components;
@tailwind utilities;
@import "bootstrap/scss/bootstrap.scss";
@import "./overrides.scss";
@layer base {
  html {
    font-family: "Lato";
    font-size: 14px;
  }
  body {
    color: #232323;
    margin: 0px;
  }
}

.heading-text {
  @apply text-blue-800 font-inter font-semibold;
}

.dim-text {
  @apply text-dim;
}
a {
  text-decoration: none !important;
}

:root {
  --bs-link-color-rgb: #232323;
  --bs-link-hover-color-rgb: #232323;
}
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
